# Banco de dados
DATABASE_URL="postgresql://user:password@localhost:5432/servihub?schema=public"

# NextAuth — gerar com: openssl rand -base64 32
AUTH_SECRET="your-secret-here-min-32-chars"

# URLs das apps
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_ADMIN_URL="http://localhost:3001"

# Admin app
ADMIN_AUTH_SECRET="your-admin-secret-here-min-32-chars"
